.container {
  padding-top: 100px;
}

.btn-primary {
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

table thead {
  text-align: center;
}

.viewed {
  background-color: #d4d0d0;
}

.btn-primary:hover {
  background-color: #0069d9;
}

.form-control {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

